.input_field{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.input_field label {
    color: gray;
    padding: 10px 0 8px 0;
    font-size: 16px;
}
.input_field input {
    font-size: 18px;
    padding: 15px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200)
}